/* Seção principal */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  padding: 20px;
}

/* Seção Secudária */
.container2 {
  display: grid;
  justify-content: space-between;
  padding: 20px;
  margin-top: -30px;
}

.menu{
  display: grid;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
  flex-basis: 30%;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif, verdana;
    margin: 0;
    padding: 0;
  }
  
  /* Cabeçalho */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  header h1 {
    margin: 0;
    font-size: 24px;
  }

  /* Cabeçalho com imagem de fundo */
.header-with-background {
  display: grid;
  align-items: center;
  background-image: url('img/uesc.jpg');
  background-size: cover;
  background-position: center;
  color: #fff; /* Cor do texto para melhor legibilidade na imagem de fundo */
  padding: 90px 0; /* Ajuste o preenchimento superior e inferior conforme necessário */
  height: 60px;
}

.header-with-background h1 {
  margin: 0;
  font-size: 2em;
}
  
  /* Rodapé */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  /* Caixas na seção principal */
  .box {
    display: inline-block;
    flex-basis: 30%;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 5px;
  }

  .box2 {
    display: inline-block;
    flex-basis: 63%;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 5px;
    flex-direction: row;
    justify-content: left;
    
  }
  
  .vertical {
    display: grid;
    flex-direction: column;
  }
  
  .sub-box {
    flex-basis: 50%;
    background-color: #e0e0e0;
    
    
  }
  
  /* Menu */
.menu ul {
  display: inline-block;
  list-style: none;
  padding: 0;
}

.menu ul li {
  margin-bottom: 5px;
  text-align: left;
  display: list-item;
  justify-content: last baseline;
}

.menu ul li a {
  text-align: -webkit-match-parent;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: list-item;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Efeito ao passar o mouse */
.menu ul li a:hover {
  background-color: #f2f2f2;
  color: #000;
}

a {
  color: #6699CC;
  text-decoration: none;
  font-size: 14px;
}

.carrossel {
  display: grid;
  overflow: hidden;
  width: 500px;
}

.carrossel img {
  width: 100%;
  height: 300px;
  display: block;
}

.carrossel2 {
  display: grid;
  overflow: hidden;
  width: 500px;
  
}

.carrossel2 img {
  width: 100%;
  height: 300px;
  display: block;
}
.controls button {
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
}
  
  /* Estilos responsivos para telas menores que 500px */
  @media screen and (max-width: 500px) {
    .container {
      display: inline-block;
      flex-direction: column;
     
    }

    .container2 {
      display: inline-block;
      flex-direction: column;
      
    }

    .menu{
      display: grid;
      flex-direction: column;
      justify-content: space-between;
      flex-basis: 100%;
    }
  
    .box {
      flex-direction: column;
      flex-basis: 100%;
      align-items: center;
    }

    .box2{
      flex-direction: column;
      flex-basis: 100%;
      align-items: center;
    }
    .box-vertical{
      display: inline-block;
      flex-direction: column;
      align-items: center;
      
    }
  
    .vertical {
      
      flex-direction: column;
    }
  
    .sub-box {
      flex-direction: column;
      align-items: center;
    }
  
    
    .menu ul li {
      margin-bottom: 8px;
      text-align: center;
    }
  
    .menu ul li a {
      display: block;
      padding: 10px;
      background-color: #f2f2f2;
      border-radius: 5px;
    }
    .carrossel {
      display: flex;
      overflow: hidden;
      width: 500px;
    }

    .carrossel2 {
      display: grid;
      overflow: hidden;
      width: 500px;
     
    }
    
    .carrossel img {
      width: 70%;
      height: 200px;
      flex-direction: column;
    }
    
      
    .carrossel2 img {
      width: 70%;
      height: 200px;
      flex-direction: column;
      background-color: none;
    }

    .line {
      width: 25px;
      height: 3px;
      background-color: #333;
      margin: 5px 0;
    }
    .header-with-background {
      display: grid;
      background-image: url('img/uesc_mobile.png');
      background-size: cover;
      background-position:center;
      color: #fff; /* Cor do texto para melhor legibilidade na imagem de fundo */
      padding: 60px 0; /* Ajuste o preenchimento superior e inferior conforme necessário */
      height: 60px;
      width: 395px;
    }
  
  }
